
@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url(https://pp.userapi.com/c841122/v841122831/327e/nHt-92F6yc4.jpg) no-repeat top center #efeff1;
  background-size:cover;
}

nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}
/*8c004b*/
/*800020*/
 



/*video*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }
        
        html {
            scroll-behavior: smooth;
        }
       
        section[id] {
          scroll-margin-top: 70px;
        }
        /* *********************/
        /* seccion I N I C I O */
        /* *********************/
        
        #inicio {
          background:url(https://images2.alphacoders.com/117/117712.jpg) no-repeat top center #efeff1;
          background-size:auto;
            background-size: cover;
            background-position: center center;
            height: 100vh;
            text-align: center;
        }
        
        #inicio .contenido header {
            background-color: rgba(211, 209, 209, 0.486);
            position: fixed;
            width: 100%;
            padding: 10px;
            z-index: 100;
            top: 0;
            background: rgba( 212, 199, 199, 0.3 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 2px );
            -webkit-backdrop-filter: blur( 2px );
            border-radius: 0px;
            border: 0px solid rgba( 255, 255, 255, 0.18 );
        }
        
        #inicio .contenido header .contenido-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            
        }
        
        #inicio .contenido header .contenido-header h1 {
            text-align: center;
            color: #ff5080;
            font-size: 40px;

        }
        
        #inicio .contenido header .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
            text-align:center
        }
        
        #inicio .contenido header .contenido-header nav ul li a {
          font-family: 'Oswald', sans-serif;
          font-weight:500;
          text-transform:uppercase;
          text-decoration:none;
          color:#16151b;
          margin:0 15px;
          font-size:16px;
          letter-spacing:1px;
          position:relative;
          display:inline-block;
          text-align: center;
        }
        
        #inicio .contenido header .contenido-header nav ul li a:hover {
            color: #ff5080;
        }
        
        #inicio .contenido header .contenido-header .redes a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
            text-align: center;
        }
        
        #inicio .contenido header .contenido-header .redes a:hover {
            color: #ff5080;
        }
        
        #inicio .contenido header .contenido-header .seleccionado {
            color: #ff5080;
            text-align: center;
        }
        
        #inicio .contenido .presentacion {
            max-width: 1100px;
            height: 100vh;
            margin: auto;
            color: rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
        
        #inicio .contenido .presentacion .bienvenida {
            font-size: 40px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 5px;
            text-align:center
        }
        
        #inicio .contenido .presentacion h2 {
            font-size: 55px;
            margin-bottom: 25px;
            text-align: center;
            
            
        }
       
        
        #inicio .contenido .presentacion h2 span {
            font-size: 60px;
            color: #ff5080;
           
            
        }
        #inicio .contenido .presentacion h2 span p {
          font-size: 60px;
          color: #ff5080;
          
        }
     
        
        #inicio .contenido .presentacion .descripcion {
            max-width: 700px;
            margin: 25px auto;
            font-size: 18px;
            text-align: center;
            
        }
        
        #inicio .contenido .presentacion a {
            text-decoration: none;
            display: inline-block;
            margin: 25px;
            padding: 20px 25px;
            border: 2px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
            text-align: center;
           
        }
        
        #inicio .contenido .presentacion a:hover {
            background-color: #ff5080;
            text-align: center;
        }
        
        #icono-nav {
            color: #fff;
            display: none;
            text-align: center;
        }

        
        .maquina-escribir {
          font-size: 60px;
          display: block;
          font-family: monospace;
          white-space: nowrap; /* los espacios en blanco no rompen la línea */        
          width: 19ch; /* el ancho será el número de caracteres que tiene nuestra línea */
          animation: escribiendo 3s steps(15);          
          overflow: hidden;
        }

        .cursor{
          animation: 0.6s parpadeo-cursor infinite;
        }

        @keyframes escribiendo {
          from {
            width: 0;
          }
        }

        @keyframes parpadeo-cursor {
          50% {
            opacity: 0;
          }
        }





        /* *********************/
        /* seccion S O B R E  M I */
        /* *********************/
        
        #sobremi {
            max-width: 1200px;
            margin:auto;
            padding: 100px 15px;
            color: #111135;
            display: flex;
        }
        
        #sobremi .contenedor-foto {
          max-width: 15cm;
          max-height: 100px;
          margin-right: 80px;
      }

      #sobremi .contenedor-foto img {
        padding: 20px;
        /*width: 100%;*/
        border-radius: 20px;
        background-color: #f3f3f3;
    }
      
      
        
        #sobremi .sobremi {
            margin: 0 1px;
        }
        
        #sobremi .sobremi .titulo-seccion {
            font-size: 50px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #ff507f5b;
            text-decoration-thickness: 5px;
            text-align: center;
            padding-bottom: 20px;
        }
        
        #sobremi .sobremi h2 {
            font-size: 30px;
            font-weight: bold;
            margin: 5px 0;
            letter-spacing: 2px;
        }
        
        #sobremi .sobremi h2 span {
            color: #ff5080;
            

        }
        
        #sobremi .sobremi h3 {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        
        #sobremi .sobremi p {
            font-size: 20px;
            line-height: 20px;
            color: #565656;
            margin-bottom: 12px;
            text-align:justify;
        }
        
        #sobremi .sobremi a {
            display: inline-block;
            text-decoration: none;
            color: #000;
            border-radius: 30px;
            border: 1px solid #000;
            padding: 10px 20px;
            margin-top: 30px;
            transition: .5s;
            text-align: center;
        }
        
        #sobremi .sobremi a:hover {
            background-color: #ff5080;
            color: #fff;
        }

       

      /*----------------------------FORMACION Y EXPERIENCIA--------------------------------*/
      

      #sobremiFormacionYExperiencia .titulo-seccion {
            font-size: 50px;
            text-transform: uppercase;
            color: #050505;
            text-decoration: underline;
            text-decoration-color: #ff507f5b;
            text-decoration-thickness: 5px;
            text-align: center;
           
      }
      #sobremiFormacionYExperiencia .titulo-seccion .timeline div a {
        
      }
           
        /* TIMELINE
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        .timeline ul {
          background: #ffffff;
          padding: 50px 0;
        }

        .timeline ul li {
          list-style-type: none;
          position: relative;
          width: 6px;
          margin: 0 auto;
          padding-top: 50px;
          background: rgb(11, 11, 11);
        }

        .timeline ul li::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: inherit;
          z-index: 1;
        }

        .timeline ul li div {
          position: relative;
          bottom: 0;
          width: 400px;
          padding: 15px;
          background: rgba( 120, 50, 133, 0.35 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 1px );
            -webkit-backdrop-filter: blur( 1px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }

        .timeline ul li div::before {
          content: "";
          position: absolute;
          bottom: 7px;
          width: 0;
          height: 0;
          border-style: solid;
        }

        .timeline ul li:nth-child(odd) div {
          left: 45px;
        }

        .timeline ul li:nth-child(odd) div::before {
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent #c92ac1 transparent transparent;
        }

        .timeline ul li:nth-child(even) div {
          left: -439px;
        }

        .timeline ul li:nth-child(even) div::before {
          right: -15px;
          border-width: 8px 0 8px 16px;
          border-color: transparent transparent transparent #f45b69;
        }

        time {
          display: block;
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 8px;
        }


        /* EFFECTS
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        .timeline ul li::after {
          transition: background 0.5s ease-in-out;
        }

        .timeline ul li.in-view::after {
          background: #f45b69;
        }

        .timeline ul li div {
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }

        .timeline ul li:nth-child(odd) div {
          transform: translate3d(200px, 0, 0);
        }

        .timeline ul li:nth-child(even) div {
          transform: translate3d(-200px, 0, 0);
        }

        .timeline ul li.in-view div {
          transform: none;
          visibility: visible;
          opacity: 1;
        }


        /* GENERAL MEDIA QUERIES
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        @media screen and (max-width: 900px) {
          .timeline ul li div {
            width: 250px;
          }
          .timeline ul li:nth-child(even) div {
            left: -289px;
            /*250+45-6*/
          }
        }

        @media screen and (max-width: 600px) {
          .timeline ul li {
            margin-left: 20px;
          }
          .timeline ul li div {
            width: calc(100vw - 91px);
          }
          .timeline ul li:nth-child(even) div {
            left: 45px;
          }
          .timeline ul li:nth-child(even) div::before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent #f45b69 transparent transparent;
          }
        }


        /* EXTRA/CLIP PATH STYLES
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        .timeline-clippy ul li::after {
          width: 40px;
          height: 40px;
          border-radius: 0;
        }

        .timeline-rhombus ul li::after {
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }

        .timeline-rhombus ul li div::before {
          bottom: 12px;
        }

        .timeline-star ul li::after {
          clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
          );
        }

        .timeline-heptagon ul li::after {
          clip-path: polygon(
            50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%
          );
        }

        .timeline-infinite ul li::after {
          animation: scaleAnimation 2s infinite;
        }

        @keyframes scaleAnimation {
          0% {
            transform: translateX(-50%) scale(1);
          }
          50% {
            transform: translateX(-50%) scale(1.25);
          }
          100% {
            transform: translateX(-50%) scale(1);
          }
        }
/*-------------------------contacto-------------------------------------*/

.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

/*--------------------------------footer---------------------------------------*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}





































































/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}

