:root{
	--primary
	--mb-2-5: 2.5rem;

}

*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.jpg);
	/*background:url(https://images2.alphacoders.com/117/117712.jpg) no-repeat top center #efeff1;*/
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	
}
.logo{
	color: rgb(255, 255, 255);
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	padding-left: 50px;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color:  rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}

.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: rgb(255, 255, 255);
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 2px;
	font-size: 20px;
}
/*-----------------------------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 80px;
}

body{
    font-family: 'Montserrat';
}


.menu{
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    width: 100%;
    position: fixed;
    top:0px;
    text-align:center;
    padding: 10px;
    z-index: 100;

    background: rgba( 212, 199, 199, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.20 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 0px;
    border: 0px solid rgba( 255, 255, 255, 0.12 );
}



.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 10px;
}



.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: #f9004d;
    cursor: pointer;
    display:none;
}

ul.show{
    top:65px;
}

/*-------------------------*/

@media screen and (max-width:952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 14px;
    }
}

@media screen and (max-width:858px){
    .menu{
        height:65px;
    }
    .btn_menu{
        display:inline-flex;
        padding-left: 250px;
    }
    .menu_items{
        position: fixed;
        width:100vw;
        height:calc(100%-65px);
        background: #41414198;
        top:-100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight:bold;
    }
    .menu_items li a:hover{
        color: #f9004d;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
	.qualification__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}


@media screen and (max-width:858px) and (orientation:landscape){
 
    .menu_items{
        overflow: scroll;
    }
    .menu_items li{
        margin: 5px 0 0 0;
        line-height: 30px;
    }   
	.about{
		
		padding: 50%;
	}
	.qualification__data{
        gap: .5rem;
    }

}





.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
	padding-top: 10%;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	text-align: justify;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

/*---------*/

.section__title{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 100px;
	text-align: center;
}
.section__subtitle{
	color: white;
	font-size: 30px;
	display: grid;
	text-align: center;
	padding-bottom: 20px;
	text-align: center;
	display: inline-block;
	
}
.qualification section{
	background-color: #fff;
}
.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
	font-size: 20px;
    margin-bottom: 40px;
	color: #f7f5f5;
	
	
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover{
    color: #f9004d;
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: 20px;
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
	
}

.qualification__title{
    font-size: 25px;
    font-weight: bold;
	margin-bottom: -3px;
	
}

.qualification__subtitle{
    display: inline-block;
    font-size: 16px;
    margin-bottom:-60px ;
}
.qualification__title__impar{
    font-size: 25px;
    font-weight: bold;
	margin-bottom: -3px;
	padding-left: 70%;
	
}
.qualification__subtitle__impar{
    display: inline-block;
    font-size: 16px;
    margin-bottom:-60px ;
	padding-left: 70%;
}
.qualification__calendar__impar{
	font-size: var(--smaller-font-size);
    color:#f7f5f5 ;
	padding-left: 70%;
}

.qualification__calendar{
    font-size: var(--smaller-font-size);
    color:#f7f5f5 ;
}

.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #f9004d;
    border-radius: 50%;
}

.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: #f9004d;
    transform: translate(6px, -7px);
}

.qualification [data-content]{
    display: none;
}

.qualification__active[data-content]{
    display: block;
}

.qualification__button.qualification__active{
    color: #f9004d;
	font-weight: bold;
}

.nothing__title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.qualification__link{
    color: #ffffff;
}

.qualification__link:hover{
    color: #f9004d;
}

/*---------*/

.habilidades{
	background-color: #191919;
}





/*********************************************************************************************************************
*
*
*************************************************PROYECTOS************************************************************
*
*
**********************************************************************************************************************/

.proyectos{
	background-color: #191919;
	width: 100%;
	padding: 100px 0px;
	background-size: cover;
	background-position: center;
}

.proyectos .grid__proyectos{
	padding-top:  20px; 
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap:10px;
}

.proyectos .grid__proyectos img{
	width: 100%;
	border-radius: 3px ;
	margin: auto;
}































































.service{
	background-image: url(../img/low-poly-grid-haikei.svg);
	width: 100%;
	padding: 100px 0px;
	background-size: cover;
	background-position: center;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 200px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}




